@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@-moz-keyframes floating {
  from {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  to {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes floating {
  from {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  to {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes floating {
  from {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  to {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes floating {
  from {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  to {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes floating {
  from {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  to {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.whales {
  &__header {
    background: linear-gradient(0, #0057c4, rgba(70, 208, 237, 0.9));
    display: flex;
    height: 50rem;
    justify-content: center;
    position: relative;

    &__container {
      display: flex;
      flex-direction: row;
      width: 1200px;

      &__half {
        align-items: center;
        flex-direction: column;
        width: 50%;
      }

      &__signature {
        color: #fff;
        font-size: 14px;
        position: absolute;
        right: 40px;
        top: 30px;

        span {
          color: #fff;
          font-weight: bold;
        }
      }

      &__logo {
        margin: 0 auto;
        padding-top: 180px;
        z-index: 12;

        img {
          align-self: center;
          display: flex;
          height: 160px;
          margin: 0 auto;
        }
      }

      &__text {
        color: #fff;
        margin-top: 80px;
        text-align: center;
      }
    }
  }

  &__header::after{
    content: "";
    background-image: url(curve-border-2.svg);
    background-repeat: no-repeat;
    bottom: 0;
    height: 120px;
    position: absolute;
    width: 100vw;
  }

  &__files {
    align-self:center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -100px 0 60px 0;
    width: 1097px;

    &__dockerfile,
    &__dockercompose {
      background-color: #2b2b2b;
      border-radius: 3px;
      display: flex;
      padding: 20px;
      width: 530px;

      a {
        color: white;
        left: 480px;
        position: relative;
        top: -10px;
        z-index: 1000;
      }
    }
  }

  &__star-us {
    align-self: center;
    display: flex;
    flex-direction: column;

    a {
      background-color: #006CF4;
      border-radius: 2px;
      color: white;
      display: flex;
      flex-direction: row;
      line-height: 28px;
      padding: 10px 30px;

      span {
        margin: auto auto auto 10px;
      }
    }
  }

  &__star-us > div {
    display: flex;
    line-height: 26px;
    margin: 10px 0 20px 0;

    img {
      margin: 0 10px 0 -10px;
    }
  }

  &__slogan {
    align-self: center;
    font-size: 32px;
    justify-content: center;
    margin: 0px 0 114px 0;
    text-align: center;

    span {
      color: #003355;
      font-weight: bold;
    }
  }

  &__description {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    margin: 150px 0 150px 0;
    text-align: center;
    width: 38%;

    img {
      height: 200px;
      width: auto;
    }

    &__content {
      font-size: 19px;
      line-height: 25px;
      margin-top: 27px;

      span {
        font-weight: bold;
      }
    }
  }

  &__features {
    align-self: center;
    display: flex;
    flex-direction: row;
    font-family: "Open Sans";
    justify-content: space-between;
    width: 900px;

    &__item {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 351px;

      &__container {
        align-self: center;
        height: 111px;
        margin: 0 0 34px 0;
        width: 109px;
      }

      &__files {
        align-self: center;
        height: 103px;
        margin: 0 0 42px 0;
        width: 183px;
      }

      &__analyzer {
        align-self: center;
        height: 145px;
        width: 109px;
      }

      &__title {
        font-size: 24px;
        font-weight: bold;
        margin: 56px 0 21px 0;
      }

      &__content {
        font-size: 16px;
        line-height: 25px;
      }

      &__analyzer + &__title + &__content {
        margin: 27px 0 0 0;
      }

      &__files + &__title + &__content {
        margin: 27px 0 0 0;
      }
    }
  }

  &__contribute {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin: 91px 0 200px 0;

    a {
      background-color: #fff;
      border-radius: 2px;
      color: #000;
      display: flex;
      flex-direction: row;
      line-height: 28px;
      padding: 10px 30px;

      span {
        margin: auto auto auto 10px;
      }
    }
  }

  &__footer {
    align-self: center;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: bold;
    justify-content: center;
    padding: 30px 20px;
    width: 60%;
  }

  &__belugas {
    background-color: #DCEDFA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__info {
      color: #000;
      flex-direction: column;
      width: 40%;
      margin-left: 50px;
      line-height: 25px;
    }

    &__engines {
      align-self: center;
      color: #000;
      display: flex;
      justify-content: center;
      margin: 143px auto;
      overflow: hidden;
      width: 600px;

      &__item {
        display: inline-flex;
        flex-direction: column;

        a {
          align-self: center;
          background-color: #EE0F14;
          border-radius: 2px;
          color: white;
          display: flex;
          flex-direction: row;
          height: 66px;
          line-height: 66px;
          width: 332px;

          span {
            margin: auto auto auto 10px;
          }

          i {
            align-self: center;
            margin: 0 0 0 36px;
          }
        }

        a.php {
          background-color: #7564B8;
        }

        a.python {
          background-color: #FED149;
        }

        a.java {
          background-color: #0071BF;
        }

        &__pool {
          display: flex;
          flex-direction: row;
          margin: auto auto 53px auto;

          &__left {
            font-size: 42px;
            padding: 80px 0 0 0;
          }

          &__center {
            display: flex;
            flex-direction: column;
            margin: 0 20px;

            &__top {
              align-self: center;
              display: flex;

              img {
                -moz-animation-timing-function: ease-in-out;
                -moz-animation: floating 5s infinite;
                -ms-animation-timing-function: ease-in-out;
                -ms-animation: floating 5s infinite;
                -o-animation-timing-function: ease-in-out;
                -o-animation: floating 5s infinite;
                -webkit-animation-timing-function: ease-in-out;
                -webkit-animation: floating 5s infinite;
                animation-timing-function: ease-in-out;
                animation: floating 5s infinite;
              }
            }

            &__middle {
              align-self: center;
              display: flex;
              margin: 20px 0 20px 0;

              img {
                height: 23px;
                width: 198px;
              }
            }
            &__bottom {
              align-self: center;
              display: flex;

              img {
                -moz-animation-delay: 1.618s;
                -moz-animation-timing-function: ease-in-out;
                -moz-animation: floating 5s infinite;
                -ms-animation-delay: 1.618s;
                -ms-animation-timing-function: ease-in-out;
                -ms-animation: floating 5s infinite;
                -o-animation-delay: 1.618s;
                -o-animation-timing-function: ease-in-out;
                -o-animation: floating 5s infinite;
                -webkit-animation-delay: 1.618s;
                -webkit-animation-timing-function: ease-in-out;
                -webkit-animation: floating 5s infinite;
                animation-delay: 1.618s;
                animation-timing-function: ease-in-out;
                animation: floating 5s infinite;
             }

            }
          }

          &__right {
            color: #EE0F14;
            font-size: 42px;
            padding: 82px 0 0 0;
          }
          &__right.php { color: #7564B8; }
          &__right.python { color: #FED149; }
          &__right.java { color: #0071BF; }
        }
      }
    }

    &__title {
      align-self: center;
      font-size: 25px;
      font-weight: bold;
      margin: 250px auto 60px auto;
      text-align: center;
    }

    &__footer {
      align-self: center;
      display: flex;
      font-family: "Open Sans", sans-serif;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      width: 90%
    }
  }
}

.app {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin: 103px auto;

    &__form {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;

      &__label {
        font-size: 25px;
        margin-top: 100px;
      }

      &__container {
        display: flex;
        margin-top: 50px;

        div {
          align-items: center;
          display: flex;
          flex-direction: column;
        }

        &__input,
        &__input:focus{
          background-color: rgba(220, 237, 250, 0.3);
          border-radius: 10px;
          border: 2px solid #fff;
          color: white;
          font-size: 20px;
          line-height: 50px;
          outline: none;
          padding: 5px 5px;
          text-align: center;
          width: 430px;
        }

        span {
          align-items: center;
          display: flex;
          font-size: 25px;
          margin: 20px auto;
        }

        a {
          align-items: center;
          display: flex;

          i {
            display: none;
          }

          &:after {
            background-image: url("GitHub-logo.svg");
            background-repeat: no-repeat;
            background-size: 30px;
            content: "Sign in with github";
            font-family: 'Space Mono', monospace;
            font-size: 18px;
            line-height: 30px;
            padding-left: 45px;
            text-decoration: underline;
          }
        }
      }
    }

    &__files {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;

      &__dockerfile {
        flex-grow: 1;
      }

      &__dockercompose {
        flex-grow: 1;
      }
    }
  }
}
