@-moz-keyframes floating {
  from {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  to {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes floating {
  from {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  to {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes floating {
  from {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  to {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes floating {
  from {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  to {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes floating {
  from {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -moz-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  to {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.whales {
  &__header {
    // background-color: rgba(70,208,237,0.15);
    background: linear-gradient(0, #0057c4, #46D0ED);
    height: 50rem;
    position: relative;
    display: flex;
    justify-content: center;

    &__container {
      display: flex;
      width: 1200px;
      flex-direction: row;

      &__half {
        flex-direction: column;
        align-items: center;
        width: 50%;
      }

      &__signature {
        position: absolute;
        right: 40px;
        top: 30px;
        font-size: 14px;
        color: #fff;

        span {
          color: #fff;
          font-weight: bold;
        }
      }

      &__logo {
        z-index: 12;
        margin: 0 auto;
        padding-top: 180px;

        img {
          display: flex;
          margin: 0 auto;
          align-self: center;
          height: 160px;
        }
      }

      &__text {
        text-align: center;
        margin-top: 80px;
        color: #fff;
      }
    }
  }

  &__header::after{
    content: "";
    position: absolute;
    width: 100vw;
    height: 120px;
    background-repeat: no-repeat;
    background-image: url(curve-border-2.svg);
    // left: 0;
    bottom: 0;
    // right: 0;
    // background-repeat: repeat;
    // height: 30px;
    // background-size: 80px 40px;
    // background-image:
    // radial-gradient(circle at 20px 30px, white 24px, transparent 26px);
  }

  &__files {
    display: flex;
    flex-direction: row;
    align-self:center;
    width: 1097px;
    justify-content: space-between;
    margin: -100px 0 60px 0;

    &__dockerfile,
    &__dockercompose {
      display: flex;
      background-color: #2b2b2b;
      border-radius: 3px;
      padding: 20px;
      width: 530px;

      a {
        z-index: 1000;
        left: 480px;
        top: -10px;
        position: relative;
        color: white;
      }
    }
  }

  &__star-us {
    display: flex;
    flex-direction: column;
    align-self: center;

    a {
      display: flex;
      flex-direction: row;
      line-height: 28px;
      padding: 10px 30px;
      border-radius: 2px;
      background-color: #006CF4;
      color: white;

      span {
        margin: auto auto auto 10px;
      }
    }
  }

  &__star-us > div {
    display: flex;
    margin: 10px 0 20px 0;
    line-height: 26px;

    img {
      margin: 0 10px 0 -10px;
    }
  }

  &__slogan {
    align-self: center;
    margin: 0px 0 114px 0;
    font-size: 32px;
    justify-content: center;
    text-align: center;

    span {
      color: #003355;
      font-weight: bold;
    }
  }

  &__features {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 1097px;
    justify-content: space-between;

    &__item {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 351px;

      &__container {
        height: 111px;
        width: 109px;
        align-self: center;
        margin: 0 0 34px 0;
      }

      &__files {
        height: 103px;
        width: 183px;
        align-self: center;
        margin: 0 0 42px 0;
      }

      &__analyzer {
        height: 145px;
        width: 109px;
        align-self: center;
      }

      &__title {
        font-size: 24px;
        margin: 56px auto 21px auto;
        font-weight: bold;
        color: #042B5C;
      }

      &__content {
        font-size: 16px;
      }

      &__analyzer + &__title + &__content {
        margin: 27px 0 0 0;
      }

      &__files + &__title + &__content {
        margin: 27px 0 0 0;
      }
    }
  }

  &__contribute {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 91px 0 0 0;

    a {
      display: flex;
      flex-direction: row;
      line-height: 28px;
      padding: 10px 30px;
      border-radius: 2px;
      background-color: #006CF4;
      color: white;

      span {
        margin: auto auto auto 10px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 60%;
    font-weight: bold;
    justify-content: center;
    padding: 50px 20px;
    font-size: 14px;
  }

  &__belugas {
    display: flex;
    background-color: #f4f4f4;
    flex-direction: column;

    &__waves {
      background-color: white;
      height: 100px;
      position: relative;
    }

    &__waves::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background-repeat: repeat;
      height: 20px;
      background-size: 40px 40px;
      background-image:
      radial-gradient(circle at 20px -10px, transparent 24px, #f4f4f4 26px);
    }

    &__waves::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background-repeat: repeat;
      height: 30px;
      background-size: 80px 40px;
      background-image:
      radial-gradient(circle at 20px 30px, #f4f4f4 24px, transparent 26px);
    }

    &__engines {
      margin: 143px auto auto auto;
      display: flex;
      align-self: center;
      width: 600px;
      justify-content: center;
      overflow: hidden;

      &__item {
        display: inline-flex;
        flex-direction: column;

        a {
          display: flex;
          flex-direction: row;
          line-height: 66px;
          width: 332px;
          height: 66px;
          border-radius: 2px;
          background-color: #EE0F14;
          color: white;
          align-self: center;

          span {
            margin: auto auto auto 10px;
          }

          i {
            align-self: center;
            margin: 0 0 0 36px;
          }
        }

        a.php {
          background-color: #7564B8;
        }

        a.python {
          background-color: #FED149;
        }

        a.java {
          background-color: #0071BF;
        }

        &__pool {
          display: flex;
          flex-direction: row;
          margin: auto auto 53px auto;

          &__left {
            font-size: 42px;
            padding: 80px 0 0 0;
          }

          &__center {
            display: flex;
            flex-direction: column;
            margin: 0 20px;

            &__top {
              display: flex;
              align-self: center;

              img {
                -webkit-animation: floating 5s infinite;
                -webkit-animation-timing-function: ease-in-out;
                -moz-animation: floating 5s infinite;
                -moz-animation-timing-function: ease-in-out;
                -ms-animation: floating 5s infinite;
                -ms-animation-timing-function: ease-in-out;
                -o-animation: floating 5s infinite;
                -o-animation-timing-function: ease-in-out;
                animation: floating 5s infinite;
                animation-timing-function: ease-in-out;
              }
            }

            &__middle {
              display: flex;
              align-self: center;
              margin: 20px 0 20px 0;

              img {
                width: 198px;
                height: 23px;
              }
            }
            &__bottom {
              display: flex;
              align-self: center;

              img {
                -webkit-animation: floating 5s infinite;
                -webkit-animation-timing-function: ease-in-out;
                -webkit-animation-delay: 1.618s;
                -moz-animation: floating 5s infinite;
                -moz-animation-timing-function: ease-in-out;
                -moz-animation-delay: 1.618s;
                -ms-animation: floating 5s infinite;
                -ms-animation-timing-function: ease-in-out;
                -ms-animation-delay: 1.618s;
                -o-animation: floating 5s infinite;
                -o-animation-timing-function: ease-in-out;
                -o-animation-delay: 1.618s;
                animation: floating 5s infinite;
                animation-timing-function: ease-in-out;
                animation-delay: 1.618s;
             }

            }
          }

          &__right {
            font-size: 42px;
            color: #EE0F14;
            padding: 82px 0 0 0;
          }
          &__right.php { color: #7564B8; }
          &__right.python { color: #FED149; }
          &__right.java { color: #0071BF; }
        }
      }
    }

    &__footer {
      display: flex;
      align-self: center;
      width: 50%;
      justify-content: center;
      text-align: center;
      margin: 153px auto 80px auto;
    }
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  &__form-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 103px auto;

    &__form {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      &__label {
        // font-size: 30px;
        // padding: 20px 0;
        display: none;
      }

      &__container {
        margin-top: 140px;
        display: flex;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__input,
        &__input:focus{
          background-color: rgba(220, 237, 250, 0.3);
          color: white;
          width: 430px;
          outline: none;
          border-radius: 10px;
          border: 2px solid #fff;
          font-size: 20px;
          line-height: 50px;
          padding: 5px 5px;
          text-align: center;
        }

        span {
          display: flex;
          align-items: center;
          font-size: 25px;
          margin: 20px auto;
        }

        a {
          display: flex;
          align-items: center;

          i {
            display: none;
          }

          &:after {
            content: "Sign in with github";
            font-family: 'Space Mono', monospace;
            font-size: 18px;
            padding-left: 45px;
            line-height: 30px;
            text-decoration: underline;
            background-image: url("GitHub-logo.svg");
            background-repeat: no-repeat;
            background-size: 30px;
          }
        }
      }
    }

    &__files {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      &__dockerfile {
        flex-grow: 1;
      }

      &__dockercompose {
        flex-grow: 1;
      }
    }
  }
}
